.sidebar {
  height: 100vh;
  width: 240px;
  background-color: black;
}

.sidebar img {
  height: 70px;
  padding: 10px;
}

.sidebar > hr {
  margin: 10px 20px;
  border: 1px solid #282828;
}

.sidebar .playlists {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65%;
  padding-right: 20px;
}

.sidebarPlaylist {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.sidebarTab {
  color: grey;
  transition: color 0.2s;
  cursor: pointer !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-bottom: 10px;
}

.sidebarTab span {
  margin-left: 10px;
}

.sidebarTab:hover {
  color: white;
  transition: color 0.2s;
}

.sidebarPlaylist {
  color: grey;
  font-size: 14px;
  margin: 20px;
}

.sidebarPlaylist:hover {
  color: white;
}