* {
  margin: 0;
  font-family: Roboto, sans-serif;
}

p, a, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

::-webkit-scrollbar {
  color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  width: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
